# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
ref/estocasticos/Estocásticos - ap3.pdf
ref/estocasticos/Estocásticos(2).pdf
ref/estocasticos/pe_2015_ce.pdf
ref/estocasticos/Processos Estocásticos - ap2.pdf
ref/estocasticos/s00354-022-00183-1.pdf
ref/estocasticos/s00354-022-00183-1_231205_152622.pdf
ref/estocasticos/Trabalho_estocásticos_brunogondim_PARCIAL.pdf
